<div id="card">
    <canvas id="bgCanvas" width="800" height="150"></canvas>
    <div id="content">
        <div id="cover-wrap">
            <img id="cover-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="">
        </div>
        <div id="accent-bar"></div>
        <div id="track-info">
            <div id="track-badge">Now Playing</div>
            <div id="track-artist"></div>
            <div id="track-title"></div>
            <div id="track-album"></div>
            <div id="track-label"></div>
        </div>
    </div>
</div>
